/* ___________________________________________________general css ____________________________________________*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

:root {
    --maincolor: #7b5244;
    --subcolor: #333333;

}

.un_styled_list {
    list-style: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* titles of sections */

.title {
    margin: 3% auto;
}

.title h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
}

.underline {
    height: 2px;
    width: 4%;
    background-color: rgba(128, 128, 128, 0.568);
    margin: 0 auto;
}
